body {
    font-family: "Exo 2", Verdana, Arial, sans-serif;
    color: #FFE63A;
}

.container {
    background-color: #0099F7;
    margin: 0;
}

#seth {
    font-size: 50px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

header {
    background-color: #BB070E;
    padding: 0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.containerhead, container {
    width: 70%;
    margin: auto;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    align-items: center;
    
    position: relative;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #34F9FE;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #34F9FE;
    
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%
}

.Seth, .Wife, .Kids, .Life {
    float: none;
    color: #34F9FE;
    padding: 12px;
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    border-radius; 4px;
    font-weight: bold;
}



.C1, .C2, .C4 {
    columns: 2;
    display: flex;
}

.C3 {
    columns: 3;
    display: flex;
}

.C1image, .C2content, .C4content {
    float:left;
    padding-left: 300px;
    padding-top: 0px;
    display: flex;
}

.C1content, .C2image, .C4image {
    float:right;
    margin-right: 300px
}

nav {
    margin-left: 200px;
    padding-bottom: 10px
        
}

.C1, .C2, .C3, .C4, {
    padding-top: 100px
}

.C3image1 {
}

.C3image2 {
}

.C3content {
    object-position: center;
}

.C5image {
    align-items: center;
    display: flex;
    justify-content: center;   
}

footer {
    padding-top: 25px;
    
    
}
